# dependencies
.vscode
node_modules/
.pnp.*
/.pnp
.pnp.js
dist

# managers
.yarn/*
!.yarn/releases
!.yarn/plugins

.DS_Store
Thumbs.db
.idea
*.sublime-project
*.sublime-workspace
.vscode
/build
/docs
.env
gds.config.json

coverage/
.eslintcache
storybook-static/
public/docs
.env.local
!robots.txt
*.tsbuildinfo
tsconfig.tsbuildinfo
lerna-debug.log
.npmrc

npm-debug.log*
yarn-debug.log*
yarn-error.log*
storybook-static